*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header{
    background-image: linear-gradient(to bottom left, #7BC7C3, #1A5A7E);
    display: grid;
    grid-template-rows: 50px auto;
    align-content: start;

    .top{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        align-items: center;
        position: relative;
        align-items: start;

        .left-header{
            margin: 1rem;
            width: 20%;
            display: flex;

            .rec{
                width: 20px;
                height: 20px;
                border: 2px solid black;
                border-radius: 5px;
                box-shadow: 2.5px 5px;
                margin-right: 0.5rem;
            }

            h1{
                font-size: 20px;
            }
        }

        .center-header{
            width: 50%;
            align-self: center;

            ul{
                display: flex;
                justify-content: space-around;

                li{
                    list-style: none;
                }

                a{
                    text-decoration: none;
                    color: white;
                    font-size: 15px;
                }
            }
        }

        .right-header{
            width: 20%;
            position: relative;
            height: 100%;
            display: block;

            img{
                width: 30px;
                height: 30px;
                border-radius: 50%;
                position: absolute;
                left: 10rem;
                top: 0.5rem;
            }
        }
    }

    article{
        display: block;
        justify-items: center;
        align-items: center;
        border: 1px solid rgb(255, 255, 255);
        align-self: start;
    
        h1{
            padding-top: 1rem;
            color: white;
            font-size: 60px;
        }
    
        h4{
            font-size: 20px;
            color: #24677E;
        }

        .search-bar{
            display: flex;
            align-items: center;
            justify-content: space-around;
            background-color: white;
            border-radius: 50px;
            width: 800px;
            height: 60px;
            margin: 2rem;
            position: relative;
            margin-bottom: 10rem;

            img{
                height: 30%;
                position: absolute;
                left: 1.5rem;
            }

            input{
                border: none;
                position: absolute;
                left: 4rem;
                width: 70%;
                font-size: 20px;

            }

            input:focus{
                outline: none;
                color: #8D9194;
            }

            .search{
                background-color: #82CFC7;
                color: white;
                border-radius: 50px;
                height: 70%;
                width: 100px;
                position: absolute;
                right: 0.5rem;
                justify-items: center;
                align-content: center;

                p{
                    font-size: 15px;
                    text-align: center;
                }
            }
        }


    }
}

.under-header{
    display: flex;
    justify-content: space-evenly;
    position: relative;
    background-color: #82CFC7;
    margin-top: 0;
    top: -1px;
    justify-items: center;
    height: 30rem;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;

    .left{
        background-color: white;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        position: absolute;
        top: -100px;
        left: 200px;
        width: 450px;
        padding: 2rem;
        box-shadow: 0 0 20px -10px;

        .number{
            position: absolute;
            right: 2rem;
            background-color: #03AFFC;
            color: white;
            padding: 0.3rem;
            display: block;
            justify-items: center;
            border-radius: 5px;
        }

        p{
            margin-top: 0.5rem;
            color: #A0A0A0;
            margin-bottom: 1rem;
        }

    }
    
    .right{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: -100px;
        background-color: #03AFFC;
        right: 200px;
        width: 650px;
        height: 461.91px;
        background: linear-gradient(to left bottom, rgba(125, 202, 196, 0.7), rgba(25, 89, 125, 0.7)), url(https://i.pinimg.com/564x/0e/1d/b2/0e1db296b7055a9213b128b7ae9aa53d.jpg);
        background-size: 100% 100%;
        border-radius: 20px;
        background-repeat: no-repeat;
        padding: 2rem;
        box-shadow: 0 0 20px -10px;

        .number25{
            position: absolute;
            right: 2rem;
            background-color: #03AFFC;
            color: white;
            padding: 0.3rem;
            display: block;
            justify-items: center;
            border-radius: 5px;
        }

        h3, .text{
            color: white;
        }

        .text{
            margin-top: 0.5rem;
            margin-bottom: 1rem;
        }        

        .learn-more{
            background-color: #82CCC3;
            width: 20%;
            border-radius: 50px;
            height: 35px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            align-content: center;
            margin-top: 1rem;
            color: white;
            font-weight: bold;
        }

        .contact{
            display: flex;
            justify-items: center;       
            position: absolute;
            bottom: 3rem;
            width: 100%;

            p{
                color: white;
            }

            .fav{
                height: 30px;
                filter: invert(100%);
                position: absolute;
                right: 4.5rem;
                opacity: 0.7;
            }

            .icon{
                width: 30px;
                height: 30px;
                border-radius: 50%;
                background-color: #82CCC3;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-left: 1rem;


                img{
                    width: 50%;
                    filter: invert(100%);
                }
            }

        }
    }
}

.topic{
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1{
        font-size: 50px;
    }

    .tap{
        height: 40px;
        box-shadow: 0 3px 10px -10px;
        margin: 2rem;
        width: 100%;
        display: block;
        justify-items: center;

        ul{
            display: flex;
            li{
                list-style: none;

                a{
                    text-decoration: none;
                    margin: 1rem 2rem;
                    color: #919090;
                    font-size: 20px;
                }
            };
        }
    }

    .card{
        display: flex;
        width: 100%;
        justify-content: center;

        .card-1, .card-2, .card-3{
            box-shadow: 0 0 20px -10px;
            width: 350px;
            padding: 1rem;
            border-radius: 10px;
            position: relative;
            margin-right: 2rem;

            .number{
                background-color: #02ACFF;
                width: 25px;
                text-align: center;
                border-radius: 5px;
                position: absolute;
                right: 1rem;
                color: white;
                font-size: 10px;
                height: 20px;
                padding: 2px;
            }

            p{
                color: #979797;  
                margin-top: 0.5rem;
            }

            img{
                height: 200px;
                width: 250px;
                align-self: center;
                justify-self: center;
                margin-top: 0.5rem;
            }
        }
    }
}


.work{
    background: linear-gradient(to left bottom, rgba(97, 210, 200, 0.7), #3C6C83), url(https://i.pinimg.com/564x/d7/ec/42/d7ec4294e43b6d32ae478f880eb3935e.jpg);
    margin-top: 5rem;
    height: 1000px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem;
    position: relative;

    h1{
        color: white;
        font-size: 40px;
    }

    .content{
        display: flex;
        margin: 2rem;

        .right{
            position: absolute;
            width: 50%;
            right: 25%;
            color: white;
            display: flex;
            flex-direction: column;

            .work-1, .work-2, .work-3{
                display: flex;
                flex-direction: column;   
            }


            h2{
                margin: 1.5rem 0;
                font-size: 25px;
            }

            p{
                margin-bottom: 4.5rem;
                font-size: 18px;
            }

        }

        .left{
            display: flex;
            flex-direction: column;
            position: relative;
            left: -30rem;
            align-items: center;

            .circle{
                background-color: #82CFC7;
                border-radius: 50%;
                width: 100px;
                height: 100px;
                margin-bottom: 8rem;
                display: flex;
                justify-items: center;
                align-items: center;
                justify-content: center;
                z-index: 1;

                .mini{
                    border: 4px solid white;
                    background-color: #82CFC7;
                    width: 80px;
                    height: 80px;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    img{
                        filter: invert(100%);
                        width: 50%;
                    }
                }
            }

            .line{
                position: absolute;
                width: 10px;
                height: 480px;
                background-color: #82CFC7;
            }
        }
    }

    .foot{
        display: flex;
        position: absolute;
        align-items: center;
        bottom: 6rem;
        width: 40%;
        justify-content: space-evenly;

        p{
            color: white;
            font-size: 18px;
        }

        .btn{
            border: 2px solid #85D0C7;
            border-radius: 50px;
            height: 40px;
            width: 200px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #85D0C7;
            font-weight: bold;
        }
    }
}

.asked{
    display: flex;
    margin-top: 5rem;

    .left{
        width: 40%;

        h1{
            margin-left: 15rem;
            font-size: 50px;
        }

        img{
            margin-left: 15rem;
            width: 80%;
        }
    }

    .right{
        width: 60%;
        padding-top: 15rem;
        position: relative;

        h2{
            font-weight: 600;
            height: 5px;
            margin-top: 0;
        }

        p{
            font-weight: 300;
            margin-top: 3rem;
            height: 60px;
        }

    }
    
}

.office{
    background-color: #F0F8FF;
    margin-top: 8rem;       
    justify-items: center;
    align-content: center;
    width: 100%;
    display: block;
    height: 600px;

    h1{
        font-size: 50px;
    }

    .wrapper{
        display: flex;
        justify-items: center;
        align-items: center;
        justify-content: space-around;;
        width: 100%;
        padding: 5rem;

        img{
            width: 35%;
            height: 250px;
            border-radius: 20px;

        }

        .head{
            width: 25%;
            display: flex;
            flex-direction: column;

            h1{
                font-size: 30px;
                font-weight: 600;
            }
            
            .place{
                margin: 1rem 0;
                color: #95999D;
                padding-bottom: 2rem;
                border-bottom: 2px solid #95999D;
                font-size: 20px;
                width: 80%;
            }
        }

        .dubai{
            width: 25%;
            display: flex;
            flex-direction: column;

            h1{
                font-size: 30px;
                font-weight: 600;
            }
            
            .place{
                margin: 1rem 0;
                color: #95999D;
                padding-bottom: 2rem;
                font-size: 20px;
                border-bottom: 2px solid #95999D;
                width: 80%;
            }
        }
    }

    .phone{
        display: flex;
        width: 52%;
        margin: 0.3rem 0;
        justify-content: space-between;
        color: #95999D;
        align-items: center;

        p{
            font-size: 20px;
        }

        .num{
            color: #80CFC6;
            font-size: 18px;
        }
    }

    .email{
        display: flex;
        width: 64%;
        margin: 0.3rem 0;
        justify-content: space-between;
        color: #95999D;
        align-items: center;

        p{
            font-size: 20px;
        }

        .num{
            color: #80CFC6;
            font-size: 18px;
        }
    }

    
}

.footer{
    display: flex;
    margin-top: 3rem;
    width: 100%;
    height: 400px;
    padding: 3rem;
    justify-content: center;

    .logo{
        width: 20%;
        display: flex;

        .rec{
            width: 40px;
            height: 40px;
            border: 2px solid black;
            border-radius: 5px;
            box-shadow: 2.5px 5px;
            margin-right: 0.5rem;
        }

        h1{
            font-size: 30px;
        }
    }

    .resource{
        width: 20%;

            h2{
                color: #1C607D;
                margin-bottom: 1rem;
            }

        ul li{
            list-style: none;

            a{
                text-decoration: none;
                color: #82CCC3;
            }
        }
    }

    .info{
        width: 20%;

        h2{
            color: #1C607D;
            margin-bottom: 1rem;
        }

        ul li{
            list-style: none;

            a{
                text-decoration: none;
                color: #82CCC3;
            }
        }
    }
}

.copyright{
    .btn{
        background-color: #82CCC3;
        width: 100px;
        height: 40px;
        display: flex;
        justify-items: center;
        align-items: center;
        justify-content: center;
        padding: 0.2rem;
        border-radius: 10px;
        margin-bottom: 3rem;

        p{
            font-size: 15px;
            color: white;
        }
    }
    
    p{
        color: #95999D;
    }
}